@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


* {
    font-family: 'Raleway', sans-serif;
}

.navbar a {
    color: white;
}

.navbar-nav {
    gap: 10px;
}

div .navbar-brand {
    color: white;
    text-align: center
}

div .navbar-brand:hover {
    color: white;
}

.nav-item .nav-link {
    transition: transform 450ms;
}

.nav-item .nav-link:hover {
    transform: scale(1.15);
}

.dropdown-menu .dropdown-item {
    color: black;
}

.dropdown-menu .dropdown-item:hover {
    background-color: dodgerblue;
    color: white;
}

.card-title {
    font-size: x-large;
}

.laptop {
    margin-top: 100px;
}

.lappy {
    margin-top: 60px;
}

.section1 {
    margin-top: 50px;
}

.list ol li {
    font-weight: bold;
}

.laptop-brands {
    text-align: center;
}


.laptop-brands img {
    width: 50%;
}

.laptop-brand-heading {
    text-align: center;
}

.laptop-brand-head1 {
    font-size: xx-large;
}

.laptop-brand-head2 {
    font-size: large;
}

.laptop-brand-head2 span{
    font-size: smaller;
}

.list {
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
}

.laptop-photos {
    display: flex;
    gap: 20px;
    overflow-y: hidden;
    overflow-x: scroll;
}

::-webkit-scrollbar{
    display: none;
}

div .laptop-photos img{
    width: 300px;
    height: 200px;
    transition: transform 500ms;
}

.laptop-photos img:hover{
    transform: scale(1.03);
}

.brands{
    display: flex;
    justify-content: space-evenly;
}

div .resize{
    height: 80%;
}

div .img-center{
    width: 80%;
    display: block;
    margin: auto;
}

div .macB{
    height: 70%;
}

div .btn-center{
    width: 80%;
    display: block;
    margin: auto;
    margin-top: 15px;
}

.footer{
    background-color: #faf4f4;
}

.socials{
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
}

@media screen and (max-width:1000px) {
    div .navbar-brand {
        font-size: 17px;
    }

    .nav-item .nav-link:hover {
        transform: scale(1.01);
    }

    .laptop-brands img {
        width: 100%;
    }

    .list {
        text-align: justify;
        /* margin: 0; */
        margin-left: -10px;
        margin-right: 15px;
    }

    .brands{
        flex-direction: column;
        gap: 40px;
    }

    div .img-center{
        width: 80%;
    }
    
    div .btn-center{
        width: 80%;
    }

    .socials{
        display: flex;
        justify-content: space-evenly;
        gap: 30px;
    }

}